<!-- login form-->
  <p class="text-warning">{{error_message}}</p>
  <form class="form-horizontal" ng-submit="login()">
    <div class="form-group">
      <label class="control-label col-md-2" for="userName">User Name</label>
      <div class="col-md-10">
        <input type="text" class="form-control" id="userNmae" ng-model="user.username" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-2" for="pswd">Password</label>
      <div class="col-md-10">
        <input type="password" class="form-control" id="pswd" ng-model="user.password" required>
      </div>
    </div>
    <button class="btn btn-primary pull-right" type="submit">Login</button>
  </form>
